h1 { text-align:center; font-family:HoratioDMed, Tahoma, Arial, sans-serif; font-size:160% }
h2 { width:100%; text-indent:8%; background-color:#BBF; font-size:140%;
     margin-top:0; margin-bottom:1.2em; font-family:Times New Roman, serif }
hr { color:black }
table { border-collapse:collapse; border:hidden }
.center { text-align:center }

tr.header { background-color:#BBF; font-size:120% }  /* headers for splash page list table */
hr.search { width:500px; color:#66B; height:3px }  /* search component seperator */

/* Mark the image as selected */
img.selected { background-color:#BBF; }

#listblock { width:100%; text-align:center }  /* contains splash page list tables */

.listtable { border:2px solid black }

html { font-family:Arial, sans-serif }
th { text-align:left; font-weight:bold; font-family:Times New Roman, serif }
table { text-align:left; vertical-align:top; padding:2px 8px;  }

tr.row1 { background-color:#DDD; text-align:left; vertical-align:top; padding:0px 0px; font-family:Arial, sans-serif }
tr.row2 { background-color:#EEE; text-align:left; vertical-align:top; padding:0px 0px; font-family:Arial, sans-serif }

dd { margin-left:2em; margin-right:3em }

a:link    { color:#11F }
a:visited { color:#009 }
a:hover   { color:#F00 }
a:active  { color:#A00 }
