body {
  padding: 0px;
  margin: 0px;
  background-color: #BBF;
}

form {
  margin: 0em;
}

div.header {
  background-color: #BBF;
  padding: 4px 0.25em 0.25em 0.25em;
  border-bottom: 1px solid #434399;
}

div.footer {
  background-color: #BBF;
  padding: 0.25em 0.25em 1px 0.25em;
  border-top: 1px solid #434399;
}

h1 {
  font-family: sans-serif;
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

h2 {
  font-size: 120%;
  font-weight: normal;
  margin-bottom: 0.25em;
  margin-top: 0em;
}

table.external {
  width: 100%;
}

table.external td {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

table.external td.mini {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 100%;
}

div.mini {
  font-size: 100%;
}

a:link    { color:#11F }
a:visited { color:#00B }
a:hover   { color:#F00 }
a:active  { color:#A00 }
h1 a:visited { color:#11F }

dt a { font-weight: normal }
.mime-label a { background-color:#DDF; padding:3px; font-weight:bold }

img { border: 0; margin: 0; padding: 0; }
h2 img { vertical-align:middle; padding-top:1px }
table.navigation td img { vertical-align:middle }
.selected { background-color:#AAF }  /* Mark the thread segment as selected */
.normal   { }                        /* Mark the thread segment as normal */

/* The following are used to induce highlighting effects on thread message icons */
a img.selected { background-color:#77F }
a:visited img { background-color:#BBB }
a:visited img.selected { background-color:#77F }
a img:hover { background-color:#55F }

table {
  border-collapse: collapse;
  border: hidden;
}

tr { vertical-align:top; text-align:left; font-family: Arial, sans-serif; padding:0 }
.thRow { background-color:#DDF }   /* header row for mindex/thread/search tables */
tr.lit  { background-color:#77F }  /* even rows in mindex/thread/search tables */
tr.row1 { background-color:#DDD }  /* even rows in mindex/thread/search tables */
tr.row2 { background-color:#EEE }  /* odd rows in mindex/thread/search tables  */

div.body {
  padding: 1em;
  background-color: white;
}

div.messageBody {
  padding: 4px;
  margin-top: 1em;
}

table.attachments {
  float: right;
  border: 2px solid #e8e8e8;
  background-color: white;
}

table.attachments tr {
  text-align: left;
}

table.attachments th {
  background-color: #e8e8e8;
}

table.navigation {
  width: 100%;
  font-size: 80%;
  background-color: #e8e8e8;

/* disabled until mozilla fixes the progressive render bug with images
  border-top: 1px solid #969696;
  border-left: 1px solid #969696;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
*/
}

table.navigation th {
  font-size: 100%;
  background-color: #969696;
  padding: 3px;
}

table.navigation td {
  background-color: white;
  vertical-align: middle;
}

td.padded {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  vertical-align: middle;
}

table.appears {
  border: 1px solid #969696;
  background-color: white;
  font-size: 75%;
}

table.appears td {
  border: 1px solid #969696;
}

td {
  padding: 0 2px 0px 2px;
  vertical-align: top;
  font-family: Arial, sans-serif;
}

td.even{
  background-color: #ffffcc;
}

ul {
  margin-bottom: 0em;
  margin-top: 0em;
}

h1.group {
  margin: 0px;
}

/* wrap this around the table to fix progressive rendering in mozilla */
div.mozbug { 
  margin: 0px;
  padding: 0px;
  border: 1px solid #000;
}

table.index {
/* broken in mozilla; makes gaps in thread rows */
/*  border: 1px solid #000; */
  background-color: white;
  width: 100%;
}

table.index td {
  vertical-align: middle;
  padding: 0px 5px 0px 5px;
}

table.index th {
  background-color: #a8a8a8;
  padding: 0px 5px 0px 5px;
}

td.chart img {
  vertical-align: bottom;
  padding: 0px 1px 0px 0px;
}

table.index td.chart {
  padding: 1px;
  vertical-align: bottom;
}

td.clipped {
  overflow: hidden;
}

div.squash {
  overflow: visible;
  width: 50px;
  white-space: nowrap;
}

div.goodsig {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border: 1px solid #0F0;
}
div.goodsig div.details {
  background-color: #0F0;
}

div.badsig {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border: 1px solid #F00;
}
div.badsig div.details {
  background-color: #F00;
}

div.data {
  padding: 5px;
}

img.photo {
 border: 0;
 margin: 0;
 padding: 0;
 float: right;
}
.padded td { padding-bottom:1px }  /* Adds padding to output tables containing Discussion Tree icon */

table.index tr { height: 24px; }

.na { color:#BBB }  /* used to fade text when link not available, but still has placeholder text */
.mime-label { text-align:right; padding:4px }  /* Mime labels in message contents */
.longtext  { width:500px }  /* sets width of text entry fields */

.mime { }    /* block containing one part of message's mime contents */
.mailto { }  /* "mailto" elements used inside of message's mime contents */
.url { }     /* "url" elements used inside of message's mime contents */
.quote { }   /* "quote" elements used inside of message's mime contents */
.art { margin: 0em; } /* "art" elements used inside of message's mime contents */
